# HELM Version
alias bfg="java -jar $HOME/Downloads/bin/bfg.jar"
alias open="xdg-open"
alias k="kubectl"
alias km="kustomize"
alias tf="terraform"
alias tfer="terraformer"
alias tg="terragrunt"
alias krew="kubectl krew"
alias tfdocs="terraform-docs"
alias b64="base64"
alias diff="colordiff"
alias tfer="terraformer-google"
alias ll="ls -l"
alias g="git"
alias h="helm"
alias tfsort="$HOME/tfvars_sort.py"
alias puppet-fix="puppet-lint --fix"
alias lens="open -a lens"
alias search="grep -FRi $1 ."
alias mk="microk8s kubectl"
alias pbcopy="xclip -sel clip"
