[user]
  name = Mmadu Manasseh
  signingkey = 8EED2EE211752102
  email = mmadumanasseh@gmail.com

[core]
  editor = vim
  excludesfile = /Users/manassehmmadu/.gitignore
	autocrlf = input

[alias]
  rank = shortlog -sn --no-merges
  unstage = reset HEAD --
  last = log -1 HEAD
  cm = !git add . && git commit -m
  cmm = commit -m
  pyclean = !find -v -iname \"*py[co]\"| xargs git rm --cached -rf
  a = add
  p = push
  st = status
  s = status
  co = checkout
  cob = checkout -b
  c = checkout
  ci = commit
  noff = merge --no-ff
  plr = pull --rebase
;  prune = "!git branch --merged | grep -v \* | xargs git branch -D"
  amend = commit --amend -m
  wip = commit --no-verify -am "WIP"
  br = branch
  rn = branch -m
  df = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git diff --color \"$@\" | diff-so-fancy  | less --tabs=4 -RFX; }; f"
  dfs = df --staged
  dfc = "!dfc() { git df $1^ $1; }; dfc"
  cdiff = "log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative"
  please = push --force-with-lease
  publish = "!git push -u origin $(git rev-parse --abbrev-ref HEAD)"
  publishc = "!f() { git push -u ${1:-origin} $(git rev-parse --abbrev-ref HEAD); }; f"
  discard = checkout --
  uncommit = reset --mixed HEAD~
  l = log --graph --decorate --oneline --abbrev-commit --all
  h = log --graph --decorate --oneline --abbrev-commit
  issues = !hub browse -- issues
  url = "!f() { sha=$(git rev-parse ${1:-HEAD}); hub browse -u -- commit/$sha; }; f"
  cb = "!git rev-parse --abbrev-ref HEAD | tr -d '\n' | pbcopy"
  remote-branches = "!f() { git ls-remote --heads ${1:origin} | sed 's?.*refs/heads/??'; }; f "
  alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
  pf = push -f
  change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [ \"$`echo $VAR`\" = '$OLD' ]; then export $VAR='$NEW'; fi\" $@; }; f "
  large-files="!git rev-list --objects --all | git cat-file --batch-check='%(objecttype) %(objectname) %(objectsize) %(rest)' | sed -n 's/^blob //p' | sort --numeric-sort --key=2 | cut -c 1-12,41- | $(command -v gnumfmt || echo numfmt) --field=2 --to=iec-i --suffix=B --padding=7 --round=nearest "
  prlog = "!f() { git log ${1:-develop}..HEAD --reverse --no-merges --pretty='---%n%n**%s** (%h)%n%n%b'; }; f"

[color]
  diff = auto
  status = auto
  branch = auto
  ui = true

[credential]
  helper = cache --timeout=36000000

[commit]
  gpgsign = true

[gpg]
  program = gpg

[init]
	defaultBranch = main

;[includeIf "gitdir:/Users/manassehmmadu/Codes/github/"]
;  path = /Users/manassehmmadu/.gitprofiles/mmadumanasseh@gmail.com

;[includeIf "gitdir:/Users/manassehmmadu/Codes/gitlab/MeNsaaH/"]
;  path = /Users/manassehmmadu/.gitprofiles/gitlab-mmadumanasseh@gmail.com
